<div class="show-mobile">
    <div>
        <button (click)="toggleMenu()">
            <img src="assets/svg/icon_menu.svg" alt="menu">
        </button>
        <a href="">
            <img src="assets/svg/logo.svg" alt="logo">
        </a>
        <a href="">
              <i class="bx bx-log-in" data-tooltip="Ingresar"></i>
        </a>
    </div>
    <div class="side-menu" [class.active]="activeMenu">
        <button class="close-btn" (click)="toggleMenu()">&#10005;</button>
        <ul>
            <li routerLink="chat" (click)="toggleMenu()">Chat</li>
            <li routerLink="dashboard" (click)="toggleMenu()">Dashboard</li>
            <li routerLink="download" (click)="toggleMenu()">Descargar</li>
        </ul>
    </div>
</div>
<div class="hide-mobile">
    <div>
        <nav>
            <a class="logo" routerLink="/">
                <img src="assets/svg/logo.svg" alt="logo">
            </a>
            <ul>
                <li routerLink="chat">Chat</li>
                <li routerLink="dashboard">Dashboard</li>
                <li routerLink="download">Descargar</li>
            </ul>
        </nav>
        <div class="info">
            <div class="account">
              <i class="bx bx-log-in" data-tooltip="Ingresar"></i>
            </div>
          </div>
    </div>
</div>
