<div class="chat-container">
  <div class="messages-wrapper">
    <div class="messages">
      @for (item of messages; track $index) {
        <div class="message" [ngClass]="item.type">
          @if (item.imageUrl) {
            <img [src]="item.imageUrl" alt="Imagen del mensaje" width="300px" class="message-image" />
          }
          @if (item.text) {
            <markdown [data]="item.text"></markdown>
          }
          @if (item.tableData) {
            <table class="replacement-table">
              <thead>
                <tr>
                  <th>Parte número</th>
                  <th>Nombre componente</th>
                  <th>Cantidad en bodega</th>
                </tr>
              </thead>
              <tbody>
                @for (row of item.tableData; track $index) {
                  <tr>
                    <td>{{ row.part_number }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.quantity }}</td>
                  </tr>
                }
              </tbody>
            </table>
          }
        </div>
      }
      @if (isloading) {
        <div class="message" ngClass="received">
          <img src="assets/img/load.gif" width="30" alt="Cargando..." class="loading-icon" />
        </div>
      }
    </div>
  </div>

  <div class="chat-input">
    @if (previewImageUrl) {
    <div class="image-preview-inbox">
      <img [src]="previewImageUrl" alt="Vista previa" />
      <button type="button" (click)="closePreview(previewImageUrl)" class="remove-preview">✕</button>
    </div>
    }
    @if (previewAudioUrl) {
    <div class="audio-preview-inbox">
      <audio [src]="previewAudioUrl" controls></audio>
      <button type="button" (click)="closePreview(previewAudioUrl)" class="remove-preview">✕</button>
    </div>
    }
    <input type="text" [formControl]="inputText" placeholder="Ingresa tu pregunta" class="input-field" (keydown.enter)="onSubmit()" />
    <input type="file" accept="image/*" (change)="onImageSelected($event)" style="display:none" #fileInput>
    <i class="bx bx-photo-album" data-tooltip="Adjuntar imagen" (click)="fileInput.click()"></i>
    <i class="bx bx-right-arrow-alt" data-tooltip="Enviar mensaje" (click)="onSubmit()"></i>
  </div>
</div>
